<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transacoes</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1 class="">Pagina de transações</h1>
    <a href="/categorias">Categorias</a>

    <div>
        <p>Gasto total: {{ total_gasto }}</p>
        <p>Receita total: {{ total_receita }}</p>
        <p>Saldo total: {{ saldo_final }}</p>
    </div>

    <table>
        <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Categoria</th>
            <th>Tipo</th>
            <th>Ações</th>
        </tr>
        {% for i in transacoes %}
        <tr>
            <td>{{ i.descricao }}</td>
            <td>{{ i.valor }}</td>
            <td>{{ i.categoria.nome}}</td>
            <td class="{{ 'receita' if i.receita else 'gasto' }}">
                {{ "Receita" if i.receita else "Gasto" }}
            </td>
            <td>
                <a href="/transacoes/deletar/{{ i.id }}">Excluir</a>
                <a> Editar </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <button id="btnAbrir">Adicionar nova transação</button>
    <button>Deletar transação</button>
    <div id="modalTransacao" class="div_desaparecer">
        <div class="form_transacao">
            <h2>Nova transação</h2>
            <form id="formTransacao">
                <input type="hidden" id="transacao_id">
                <input type="text" id="descricao" placeholder="descrição" required><br>
                <input type="number" id="valor" placeholder="valor" required><br>
                <select id="categoria_id">
                    {% for cat in categorias %}
                    <option value="{{ cat.id }}">{{ cat.nome }}</option>
                    {% endfor %}
                </select>
                <input type="checkbox" id="receita">É Receita?<br>
                <button type="submit" id="btnFechar">Salvar</button>
                <button id="btnCancelar">Cancelar</button>
            </form>
        </div>
    </div>

    <script src="/static/scripts_transacao.js"></script>

</body>

</html>