<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transacoes</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1 class="">Pagina de transações</h1>
    <a href="/categorias">Categorias</a>

    <div>
        <p>Gasto total: {{ total_gasto }}</p>
        <p>Receita total: {{ total_receita }}</p>
        <p>Saldo total: {{ saldo_final }}</p>
    </div>

    <table>
        <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Categoria</th>
            <th>Tipo</th>
        </tr>
        {% for i in transacoes %}
        <tr>
            <td>{{ i.descricao }}</td>
            <td>{{ i.valor }}</td>
            <td>{{ i.categoria }}</td>
            <td class="{{ 'receita' if i.receita else 'gasto' }}">
                {{ "Receita" if i.receita else "Gasto" }}
            </td>
        </tr>
        {% endfor %}
    </table>
    <button id="btnAbrir">Adicionar nova transação</button>

    <div id="modalTransacao" class="div_desaparecer">
        <div class="form_transacao">
            <h2>Nova transação</h2>
            <form id="formTransacao">
                <input type="text" id="descricao" placeholder="Descrição" required><br>
                <input type="number" id="valor" placeholder="Valor" required><br>
                <input type="text" id="categoria" placeholder="Categoria" required><br>
                <input type="checkbox" id="receita">É Receita?<br>
                <button type="submit" id="btnfechar">Salvar</button>
            </form>
        </div>
    </div>

<script src="/static/scripts.js"></script>

</body>

</html>